.blackbutton,
.yellowbutton {
    font-size: 28px;
    font-family: "Helvetica", "Times New roman", sans-serif;
}

.blackbutton {
    background-color: black;
    color: white;

}

.yellowbutton {
    background-color: yellow;
}